@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600;700;800;900&display=swap');


// Primary Colors
$soft-red: hsl(7, 99%, 70%);
$bright-yellow: hsl(51, 100%, 49%);
$dark-cyan: hsl(167, 40%, 24%); // Graphic design text
$dark-blue: hsl(198, 62%, 26%); // Photography text
// $moderate-cyan: hsl(168, 34%, 41%); // Footer
$moderate-cyan: hsl(168, 34%, 67%); // Footer

// Neutral Colors
$very-dark-blue: hsl(212, 27%, 19%);
$dark-grayish-blue: hsl(213, 9%, 39%);
$medium-grayish-blue: hsl(232, 10%, 55%);
$light-grayish-blue: hsl(210, 4%, 67%);
$pure-white: hsl(0, 0%, 100%);
$black:black;
$black-light:rgba(0, 0, 0, 0.623);

$font-family-barlow: 'Barlow', sans-serif;
$font-family-fraunces: 'Fraunces', serif;

$font-size:1.150rem;

$font-weight-barlow-semibold: 600;
$font-weight-fraunces-bold: 700;
$font-weight-fraunces-black: 900;